* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  margin: 20px auto;
  border: solid #0f10ff;
}

h1,
h2 {
  color: #87cefa;
  padding: 10px 30px;
}

.container {
  margin: 10px;
  border: 10px solid #adff2f;
  padding: 5px;
}

table {
  border: solid;
  width: 100%;
}

td {
  border-bottom: solid;
  font-weight: bolder;
  padding: 10px;
  display: flex;
}

.right-align {
  text-align: right;
  width: 100%;
}

.red-color {
  color: #a52b2b;
}
